body{
    color: white;
    background: pink;
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_objects{
    color: orange;
}
#result_object_name_accuracy , #result_object_name{
  color: yellowgreen;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
